
   <head>
    <meta charset="utf-8">
</head>
 <if condition='$data'>
  <table  border="1">
   <tr>
       <td>id</td>
       <td>公司名</td>
       <td>公司地址</td>
       <td>公司主营</td>
       <td>联系人</td>
       <td>手机号</td>
       <td>邮箱</td>
       <td>时间</td>
       <td>操作</td>
   </tr>
    <foreach name='data' item='v'>
    <tr>
        <td>{$v.id}</td>
        <td>{$v.name}</td>
        <td>{$v.dz}</td>
        <td>{$v.zy}</td>
        <td>{$v.lxr}</td>
        <td>{$v.sjh}</td>
        <td>{$v.email}</td>
        <td>{$v.time|date='Y年m月d日 H时I分s秒',###}</td>
        <td><a href="/jiamen.php?m=home&c=Index&a=del&id={$v.id}" onclick="return confirm('你真的要删除吗？')? true :false">删除</a></td>
    </tr>
    </foreach>
    </table>
</if>